@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.cost-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.cost-left-user{
    display: flex;
}

.cost-arrow {
    transform: scale(2.2);
}

@include media-breakpoint-between(xs, sm) {
    .cost-row {
        >.col, .col-lg-2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >.col-lg-2 {
            margin: 0 0.5em
        }
    }

    .cost-arrow {
        transform: scale(1.2);
    }
}