.nav-link {
    text-decoration: none;
    color: black;

    &:hover {
        color: lightgrey;
        transform: scale(1.1);
    }

    &.in-dropdown {
        padding-left: 1em;
        &:hover {
            background-color: rgb(231, 231, 231);
        }

        &:active {
            background-color: grey;
        }
    }
}

