.hours {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 0.8em;
    height: 1em;
    width: 4em;
}

.hours-container {
    margin-right: 0.8em;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.next-btn {
    margin-left: 3px;
}