.day-container {
    width: 100%;
}

.segment {
    width: 100%;
    height: 0.8em;
    background-color: lightgrey;
    border-right: 1px solid;

    &:first-child {
        border-top: 1px solid black;
    }

    &:nth-child(odd) {
        border-bottom: 1px dashed rgb(172, 172, 172);
    }

    &:nth-child(even) {
        border-bottom: 1px solid black;
    }
}

.top-segment {
    border-top: 1px solid;
}

.left-segment {
    border-left: 1px solid;
}

.selectable {
    background-color: white;
}

.unavailable {
    background-color: lightgrey;
}

.available {
    background-color: white;
    cursor: pointer;
}

.selected {
    background-color: green;
}

.hovered {
    background-color: blue;
}

.deciding {
    background-color: orange;
}

.summary {
    background-color: yellow;
}

.decided {
    background-color: purple;
}