.weekday-labels {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-evenly;
    font-size: 12px;
    padding: 0;
}

.weekday-label {
    display: flex;
    justify-content: center;
    width: 100%;
}