$day-font-size: 13px;

$calendar-borders: rgb(150, 150, 150);

$selected-day-full-dark: rgb(108, 160, 114);
$selected-day-step-4: rgb(140, 195, 146);
$selected-day-step-3: rgba(136, 198, 149, 0.75);
$selected-day-step-2: rgb(147, 207, 160, 0.65);
$selected-day-step-1: rgb(166, 239, 182, 0.55);
$selected-day-label: rgb(81, 115, 81);

$preview-day: rgb(133, 171, 228);
$preview-day-dark: rgb(104, 143, 201);
$preview-day-label: rgb(82, 118, 171);

$detailed-day: rgb(180, 240, 232);

$edit-day: rgb(173, 162, 233);
$edit-day-label: rgb(97, 82, 185);

$decided-day-4: rgb(255, 165, 0);
$decided-day-3: rgb(255, 191, 71);
$decided-day-2: rgb(255, 187, 86);
$decided-day-1: rgb(255, 205, 139);
$decided-day-preview: rgb(255, 216, 145);

$invalid-day: rgb(217, 217, 217);
$invalid-day-label: rgb(113, 113, 113);

$half-line-default: rgb(194, 194, 194);
$half-line-selected: rgb(98, 138, 106);
$half-line-preview: rgb(88, 116, 159);
$half-line-edit: rgb(149, 144, 204);


.calendar-card {
	& > .card-body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding: 0 1em 1em 1em;
	}
}

.trip-calendar {
	display: flex;
	flex-direction: column;
	min-width: 55em;
	min-height: 40em;
	padding: 1em;
}

.trip-border {
	position: absolute;
	height: 100%;
	border: 1px solid $calendar-borders;
	border-radius: 1em;
	background: none;
	pointer-events: none;
	padding: 0;
	margin: 0;
}

.trip-loading-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100%;
}

.trip-calendar-container {
	padding: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	clip-path: inset(0% 0% round 1em);
	min-height: 30em;
	max-height: 30em;
	flex: 1;
}

.fake-day {
	background-color: rgb(230, 230, 230);
}

.trip-day-container {
	display: flex;
	border-bottom: 1px solid $calendar-borders;
	padding: 0;
	flex: 1;
	

	&:nth-child(2) {
		border-radius: 1em 1em 0 0;

		& > .trip-half-container:first-child {
			border-radius: 1em 0 0 0;
			& > .half-day:first-child {
				border-radius: 1em 0 0 0;
			}
		}

		& > .trip-half-container:last-child {
			border-radius: 0 1em 0 0;
			& > .half-day:first-child {
				border-radius: 0 1em 0 0;
			}
		}
	}

	&:last-child {
		border-bottom: 0;
		border-radius: 0 0 1em 1em;

		& > .trip-half-container:first-child {
			border-radius: 0 0 0 1em;
			& > .half-day:last-child {
				border-radius: 0 0 0 1em;
			}
		}

		& > .trip-half-container:last-child {
			border-radius: 0 0 1em 0;
			& > .half-day:last-child {
				border-radius: 0 0 1em 0;
			}
		}
	}
}

.trip-half-container {
	border-right: 1px solid $calendar-borders;
	padding: 0;
	flex: 1;

	&:last-child {
		border-right: 0;
	}
}

.half-day {
	cursor: pointer;
	font-size: $day-font-size;
	flex: 1;
	height: 50%;

	&:first-child {
		&.trip-selected {
			color: $selected-day-label;
		}
	}

	&:last-child {
		&.valid {
			border-top: 1px dashed $half-line-default;
		}

		&.trip-selected {
			border-top: 1px dashed $half-line-selected;
		}
	
		&.trip-preview {
			border-top: 1px dashed $half-line-preview;
		}

		&.trip-edit {
			border-top: 1px dashed $half-line-edit;
		}
	}
}

.trip-half-label {
	margin-left: 0.5em;
}

.trip-selected {
	color: $selected-day-label;
}
.trip-selected-4 {
	background-color: $selected-day-step-4;
}
.trip-selected-3 {
	background-color: $selected-day-step-3;
}
.trip-selected-2 {
	background-color: $selected-day-step-2;
}
.trip-selected-1 {
	background-color: $selected-day-step-1;
}

.trip-decided-4 {
	background-color: $decided-day-4;
}
.trip-decided-3 {
	background-color: $decided-day-3;
}
.trip-decided-2 {
	background-color: $decided-day-2;
}
.trip-decided-1 {
	background-color: $decided-day-1;
}

.trip-detailed {
	background-color: $detailed-day;
}

.trip-decided-preview {
	background-color: $decided-day-preview;
}

.trip-edit {
	background-color: $edit-day;
	color: $edit-day-label;
}

.trip-preview {
	&.trip-edit {
		background-color: $preview-day-dark;
	}
	color: $preview-day-label;
	background-color: $preview-day;
}

.trip-invalid {
	color: $invalid-day-label;
	background-color: $invalid-day;
}
