.trip-calendar {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: auto;
	height: 80%;
}

.trip-week-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

.trip-day-container {
	display: flex;
	border-top: 1px solid black;
	padding: 0;
	flex: 1;
}

.trip-day-container:last-child {
	border-bottom: 1px solid black;
}

.trip-half-container {
	border-left: 1px solid black;
	padding: 0;
	flex: 1;
}

.trip-half-container:last-child {
	border-right: 1px solid black;
}

.half-day {
	font-size: 14px;
	flex: 1;
	height: 50%;
}

.half-day:last-child {
	&.valid {
		border-top: 1px dashed rgb(87, 87, 87);
	}

	&.trip-preview {
		border-top: 1px dashed rgb(102, 145, 209);
	}
}

.trip-prev-selected {
	background-color: rgb(121, 192, 121);
}

.trip-edit-selected {
	background-color: rgb(151, 197, 191);
}

.trip-preview {
	&.trip-edit-selected {
		background-color: rgb(60, 133, 192);
	}
	color: rgb(39, 99, 189);
	background-color: rgb(80, 163, 231);
}

.trip-invalid {
	color: rgb(168, 169, 173);
	background-color: rgb(133, 133, 139)
}
