@import '../styles.scss';

.page-content {
    height: 100%;
    flex: 1;
    overflow-y: auto;

    & > div {
        height: 100%;
    }
}

.home-page {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}