@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.overview-container {
  margin-top: 20px;
  padding: 0;
}

.overview-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.overview-header-title {
  font-size: 35px;
}

.overview-header-dates, .overview-header-times {
  color: rgb(156, 156, 156);
}

.overview-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 1em;
}

.overview-map-row {
  margin-top: 10px;
}

.overview-map-card {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.overview-details-cost-row {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.overview-details-col {
  padding: 0px;
  display: flex;
  gap: 0.5em;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}

.overview-details-card {
  flex: 1;
  display: flex;
  flex-direction: column;

  .card-title {
    margin-bottom: 35px;
  }

  .card-subtitle {
    margin-top: 25px;
    font-size: 14px;
  }

  .card-text {
    font-size: 13px;
  }
}

.overview-cost-col {
  padding: 0px;
  display: flex;
}

.overview-cost-card {
  flex: 1;
}

.cost-card {
  flex: 1;
}

@include media-breakpoint-between(xs, lg) {
  .overview-details-card {
    width: 100%;
  }

  .cost-card {
    width: 100%;
  }

  .overview-details-col {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@include media-breakpoint-between(xs, sm) {
  .overview-header {
    margin-left: 0.5em;
  }
}
